<ion-view view-title="bookingInfo">
  <ion-content>
    <div class="list card animated bounceInLeft" style="color:blue">
    Type of Flight
    </div>
    <div class="list card animated bounceInRight">
   {{flight.type}}
    </div>
     <div class="list card animated bounceInLeft" style="color:blue">
    Class
    </div>
    <div class="list card animated bounceInRight">
   {{flight.class}}
    </div>
    <div ng-repeat = "passenger in flight.passengers">
       <div class="list card animated bounceInLeft" style="color:blue">
    First Name 
    </div>
    <div class="list card animated bounceInRight">
   {{passenger.firstName}}
    </div>
      <div class="list card animated bounceInLeft" style="color:blue">
    Last  Name 
    </div>
    <div class="list card animated bounceInRight">
   {{passenger.lastName}}
    </div>
     <div class="list card animated bounceInLeft" style="color:blue">
    outgoingFlightSeat
    </div>
 
    <div class="list card animated bounceInRight">
  {{ passenger.outgoingFlightSeat}}
    </div>
      <div class="list card animated bounceInLeft" style="color:blue">
    ingoingFlightSeat
    </div>

    <div class="list card animated bounceInRight">
  {{ passenger.ingoingFlightSeat}}
    </div>
    </div>
    </ion-content>
  </ion-content>
</ion-view>
