<link href="css/bookingInfo.css" rel="stylesheet">
<ion-view view-title="BOOKING DETAILS">
  <ion-content>

 <!-- refnum = 5726a0c645b95965055819ac
 -->
  <div class="card">
  <div class="item item-divider item-icon-left" id="cardLabel">
    <i class="icon ion-plane"></i>
    Flight Details
  </div>
      <li class="item">
      <h2>Type of Flight</h2>
      </li>
      <li class="item animated slideInRight">
      <p>{{flight.type}}</p>
      </li>

      <li class="item">
      <h2>Cabin Class</h2>
      </li>
      <li class="item animated slideInRight">
      <p>{{flight.class}}</p>
      </li>
  </div>


  <div class="card" ng-repeat = "passenger in flight.passengers">
  <div class="item item-divider item-icon-left" id="cardLabel">
    <i class="icon ion-person"></i>
    Passenger Details
  </div>
      <li class="item">
      <h2>First Name</h2>
      </li>
      <li class="item animated slideInRight">
      <p>{{passenger.firstName}}</p>
      </li>

      <li class="item">
      <h2>Last Name</h2>
      </li>
      <li class="item animated slideInRight">
      <p>{{passenger.lastName}}</p>
      </li>

      <li class="item">
      <h2>Outgoing Flight Seat Number</h2>
      </li>
      <li class="item animated slideInRight">
      <p>{{passenger.outgoingFlightSeat}}</p>
      </li>

      <li class="item">
      <h2>Incoming Flight Seat Number</h2>
      </li>
      <li class="item animated slideInRight">
      <p> {{passenger.ingoingFlightSeat}}</p>
      </li>
  </div>

  </ion-content>
</ion-view>
