<ion-view view-title="BOOKING DETAILS">
  <ion-content>

    <div class="list card animated slideInLeft">
        Type of Flight
    </div>
    <div class="list card animated slideInRight">
        {{flight.type}}
    </div>

     <div class="list card animated slideInLeft">
        Class
    </div>
    <div class="list card animated slideInRight">
      {{flight.class}}
    </div>

    <div ng-repeat = "passenger in flight.passengers">
        <div class="list card animated slideInLeft">
          First Name 
        </div>
        <div class="list card animated slideInRight">
          {{passenger.firstName}}
        </div>

        <div class="list card animated slideInLeft">
          Last  Name 
        </div>
        <div class="list card animated slideInRight">
          {{passenger.lastName}}
        </div>

        <div class="list card animated slideInLeft">
          outgoingFlightSeat
        </div>
        <div class="list card animated slideInRight">
          {{ passenger.outgoingFlightSeat}}
        </div>

        <div class="list card animated slideInLeft">
         ingoingFlightSeat
        </div>
        <div class="list card animated slideInRight">
          {{ passenger.ingoingFlightSeat}}
        </div>
      </div>
    
  </ion-content>
</ion-view>
