<ion-view view-title="ARRIVING FLIGHT DETAILS" style="padding: 40px 10px 10px 10px">
    
    <!-- <ion-header-bar class="bar bar-header bar-stable">
        <button class="button button-icon">
            <i class="icon ion-android-arrow-back"></i>
        </button>
        <h1 class="title">Flight Details</h1>
    </ion-header-bar> -->

    <div class="list card">
        
        <a class="item item-icon-left">
            <i class="icon ion-android-plane"></i>
            Origin Airport : {{ destinationAirport }}
        </a>

        <a class="item item-icon-left">
            <i class="icon ion-android-plane"></i>
            Destination Airport : {{ originAirport }}
        </a>

        <a class="item item-icon-left">
            <i class="icon ion-android-calendar"></i>
            Arrival Date : {{ arrivalDate | date:'fullDate' }}
        </a>

        <a class="item item-icon-left">
            <i class="icon ion-android-time"></i>
            Arrival Time : {{ arrivalDate | date:'shortTime' }}
        </a>

        <a class="item">
            Seat Class : {{ arrivalClass }}
        </a>

        <a class="item">
            Cost : {{ arrivalPrice | currency }}
        </a>

        <a class="item">
            Airline : {{ inAirline }}
        </a>

    </div>

    <button class="button button-outline button-positive" style="margin-left: 250px" ng-click="confirmRound()">
        Confirm
    </button>
       
    
</ion-view>