<ion-view view-title="CONFIRM" style="background-color:lightblue; padding: 40px 10px 10px 10px">
	
	<!-- <ion-header-bar class="bar bar-header bar-stable">
		<button class="button button-icon">
			<i class="icon ion-android-arrow-back"></i>
		</button>
        <h1 class="title">Flight Details</h1>
    </ion-header-bar> -->

    <div class="list card" style="display: block">
    	
    	<a class="item item-icon-left">
    		<i class="icon ion-android-plane"></i>
    		Origin Airport : {{ originAirport }}
    	</a>

    	<a class="item item-icon-left">
    		<i class="icon ion-android-plane"></i>
    		Destination Airport : {{ destinationAirport }}
    	</a>

    	<a class="item item-icon-left">
    		<i class="icon ion-android-calendar"></i>
    		Departure Date : {{ depDate | date:'fullDate' }}
    	</a>

    	<a class="item item-icon-left">
    		<i class="icon ion-android-time"></i>
    		Departure Time : {{ depDate | date:'shortTime' }}
    	</a>

    	<a class="item">
    		Seat Class : {{ class }}
    	</a>

    	<a class="item">
    		Cost : {{ price | currency }}
    	</a>

    	<a class="item">
    		Airline : {{ airline }}
    	</a>

    	<button class="button button-icon-left button-positive">
    		<i class="icon ion-android-arrow-back"> Back</i>
    	</button>
    	
    	<button class="button button-positive"> Confirm </button>

    </div>
	
</ion-view>