<link href="css/ourteam.css" rel="stylesheet">
<ion-view view-title="OUR TEAM" class="teamPage">
<ion-navbar *navbar hideBackButton class="show-navbar">
</ion-navbar>

<ion-content>


    <div class="list list-inset" >

           <a class="item item-avatar">
                <img src="./img/esso.jpg">
                <h2>Esraa Salah</h2>
           </a>

           <a class="item item-avatar">
                <img src="./img/mariam.jpeg">
                <h2>Mariam Mazen</h2>
           </a>

           <a class="item item-avatar">
                <img src="./img/loay.jpg">
                <h2>Loay El Zobeidy</h2>
           </a>

           <a class="item item-avatar">
                <img src="./img/rana.jpg">
                <h2>Rana Saeed</h2>
           </a>

           <a class="item item-avatar">
                <img src="./img/rania.jpg">
                <h2>Rania Wael</h2>
           </a>

           <a class="item item-avatar">
                <img src="./img/nourhan.jpg">
                <h2>Nourhan Ramadan</h2>
           </a>

   

    </div>



  </ion-content>
</ion-view>
