<ion-view view-title="OUR TEAM" style="background-color:lightblue">
  <ion-content>
    


    <div class="list" style="width:90%;margin-left: auto;margin-right: auto;display: block;  padding: 10px 10px;">

           <a class="item item-avatar">
                <img src="./img/esso.jpg">
                <h2>Esraa Salah</h2>
           </a>

           <a class="item item-avatar">
                <img src="./img/mariam.jpeg">
                <h2>Mariam Mazen</h2>
           </a>

           <a class="item item-avatar">
                <img src="./img/loay.jpg">
                <h2>Loay El Zobeidy</h2>
           </a>

           <a class="item item-avatar">
                <img src="./img/rana.jpg">
                <h2>Rana Saeed</h2>
           </a>

           <a class="item item-avatar">
                <img src="./img/rania.jpg">
                <h2>Rania Wael</h2>
           </a>

           <a class="item item-avatar">
                <img src="./img/nourhan.jpg">
                <h2>Nourhan Ramadan</h2>
           </a>

   

    </div>



  </ion-content>
</ion-view>
