<link href="css/outGoingFlights.css" rel="stylesheet">
<ion-navbar *navbar hideBackButton class="show-navbar">
  <ion-title>OUTGOING FLIGHTS</ion-title>
</ion-navbar>

<ion-content>
  <ion-list>
  <ion-item ng-click = "bookOutgoing()" ng-repeat = "flight in flightData.brebe2">
  <div class="row">
      	<div class="col">
      	 	<ion-thumbnail item-left>
      		<img src="/../../img/favicon.png">
      		</ion-thumbnail>
      	</div>
  		<div class="col" id="flightDetails">
  			<h2> Airline: {{ flight.outflights }}</h2>
  			<p> Flight Number: {{ flight.flightNumber }}</p>
  			<p> Origin: {{ flight.origin }}</p>
  			<p> Destination: {{ flight.destination }}</p>
  			<p> Departure Date: {{ flight.departureDateTime | date:'yyyy-MM-dd hh:mm' }}</p>
  			<p> Arrival Date: {{ flight.arrivalDateTime | date:'yyyy-MM-dd hh:mm' }}</p>
  			<p> Cost: $ {{ flight.cost }}</p>
  		</div>
    </div>
    </ion-item>

  </ion-list>
</ion-content>