<ion-view view-title="PAYMENT INFO" style="padding: 40px 10px 10px 10px">
	
	<ion-content>

		<div class="list">
			<label class="item item-input item-stacked-label">
				<span class="input-label">First Name</span>
				<input ng-model="bookingData.firstName" type="text" placeholder="John"></input>
			</label>

			<label class="item item-input item-stacked-label">
				<span class="input-label">Last Name</span>
				<input ng-model="bookingData.lastName" type="text" placeholder="John"></input>
			</label>

			<label class="item item-input item-select">
					Gender
				<select ng-model="bookingData.gender">
					<option>Male</option>
					<option>Female</option>
				</select>
			</label>

			<label class="item item-input">
	            <i class="icon ion-calendar placeholder-icon"></i>
	            <span class="input-label">Date of Birth</span>
	            <input type="text" placeholder="yyyy-mm-dd" onfocus="(this.type='date')" ng-model="bookingData.dateOfBirth">
	        </label>

	        <label class="item item-input item-stacked-label">
	        	<span class="input-label">Nationality</span>
	        	<input type="text" placeholder="Egyptian" ng-model="bookingData.nationality"></input>
	        </label>

	        <label class="item item-input item-stacked-label">
	        	<span class="input-label">Email</span>
	        	<input type="text" placeholder="example@yahoo.com" ng-model="bookingData.email"></input>
	        </label>

	        <label class="item item-input item-stacked-label">
	        	<span class="input-label">Moblie Number</span>
	        	<input type="text" placeholder="+ID XXXX-XXX-XXX" ng-model="bookingData.mobile"></input>
	        </label>

	        <label class="item item-input item-stacked-label">
	        	<span class="input-label">Passport Number</span>
	        	<input type="text" ng-model="bookingData.passportNum"></input>
	        </label>

	        <label class="item item-input">
	            <i class="icon ion-calendar placeholder-icon"></i>
	            <span class="input-label">Passport Expiry Date</span>
	            <input type="text" placeholder="yyyy-mm-dd" onfocus="(this.type='date')" ng-model="bookingData.passportExpiryDate">
	        </label>

	        <label class="item item-input item-stacked-label">
	        	<span class="input-label">Credit Card Number</span>
	        	<input type="text" placeholder="Card Number" ng-model="bookingData.number"></input>
	        </label>

	        <label class="item item-input item-stacked-label">
	        	<span class="input-label">CVC</span>
	        	<input type="text" placeholder="CVC" ng-model="bookingData.cvc"></input>
	        </label>

	        <label class="item item-input item-stacked-label">
	        	<span class="input-label">Card Expiry Year</span>
	        	<input type="text" placeholder="YYYY" ng-model="bookingData.expiryYear"></input>
	        </label>

	        <label class="item item-input item-stacked-label">
	        	<span class="input-label">Card Expiry Month</span>
	        	<input type="text" placeholder="MM" ng-model="bookingData.expiryMonth"></input>
	        </label>
		</div>

		<button class="button button-outline button-positive" style="margin-left: 250px" ng-click="stripeCallback()"> Submit </button>

	</ion-content>

</ion-view>