
<ion-view view-title="ROUND TRIP" style="background-color:lightblue">
  <ion-content >

     <div class="list list-inset" style="width:90%;margin-left: auto;
    margin-right: auto;
    display: block;  padding: 10px 10px;">

      

           <label class="item item-input ">
              <i class="icon ion-plane placeholder-icon"></i>
              <span class="input-label">Flying From</span>
              <input type="text" ng-model="flightData.selectedOrigin">
           </label>

           <label class="item item-input">
              <i class="icon ion-plane placeholder-icon"></i>
              <span class="input-label">Flying To</span>
              <input type="text" ng-model="flightData.selectedDestination">
           </label>

           <label class="item item-input">
              <i class="icon ion-calendar placeholder-icon"></i>
              <span class="input-label">Departure Date</span>
              <input type="text" placeholder="yyyy-mm-dd" onfocus="(this.type='date')" ng-model="flightData.dtRound">
           </label>

           <label class="item item-input">
              <i class="icon ion-calendar placeholder-icon"></i>
              <span class="input-label">Return Date</span>
              <input type="text" placeholder="yyyy-mm-dd" onfocus="(this.type='date')" ng-model="flightData.atRound">
           </label>

           <label class="item item-input item-select">
             <div class="input-label">Class</div>
             <select ng-model="flightData.selectedClass">
                <option selected>economy</option>
                <option>business</option>
             </select>
          </label>

          
          <ion-checkbox ng-model="flightData.otherAirlines">Search Other Airlines</ion-checkbox>
          
          
          <label>
          <button class="button button-positive button-full icon-left ion-search"  ng-click="searchRoundTrip()">Search Flights</button>
          </label>
          
          
  
     </div>

          
    
  </ion-content>
</ion-view>