<link href="css/searchByReference.css" rel="stylesheet">
<ion-view view-title="FIND YOUR FLIGHT">
  <ion-content id="content">

  	<div class="animated slideInDown" id="block">
	   <p id="enterText">
	   Enter your booking reference<br>number</p>
	   <label id="searchBox" class="item item-input item-floating-label">
    		<span class="input-label">
    		<i class="icon ion-compose custom-icon"></i>Booking ID</span>
   		    <input id="inputField" type="text" placeholder="Booking ID"
   		    ng-model="search.searchQuery" ng-change="change()">
  		</label>
  		<p class="animated pulse" id="error" 
      ng-show="found">Invalid Booking ID</p>
	   <button class="button button-outline button-royal icon-right" 
	   id="searchButton" ng-click="searchByRefrence()" ng-style="myStyle" ng-mouseenter="changeGreen() "ng-mouseleave="changeRed()">
	   <i class="icon ion-android-search"></i>   Search</button><br>
    <!--  <span ng-hide = "found" ng-show= "!found" >Refrence number doesn't exist!</span> -->
	</div>
  </ion-content>
</ion-view>
