<link href="css/searchByReference.css" rel="stylesheet">
<ion-view view-title="FIND YOUR FLIGHT">
  <ion-content id="content">

  	<div class="animated slideInDown" id="block">
	   <p id="enterText">Enter your booking reference <br>
	   number</p>
	   <label id="searchBox" class="item item-input item-floating-label">
    		<span class="input-label">
    		<i class="icon ion-compose custom-icon"></i>Booking ID</span>
   		    <input id="inputField" type="text" placeholder="Booking ID"
   		    ng-model="search.searchQuery">
  		</label>
	   <button class="button button-outline button-royal icon-right" 
	   id="searchButton" ng-click="searchByRefrence()">
	   <i class="icon ion-search"></i>Search</button>
	</div>
  </ion-content>
</ion-view>
