/* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0px;
      border-radius: 0px;
      height: 0px;
      font-size: 16px;
      color: white;
      letter-spacing: 1px;
      font-size: 15px;
      font-family: 'Open Sans', sans-serif;
      border-color: black;
      background-color: black;
      text-transform: uppercase;
    }


    #background {
      width: 100%; 
      height: 100%; 
      position: relative; 
      left: 0px; 
      top: 0px; 
      z-index: -1;
    }

    
    .stretch {
      width: 100%;
      height: 100%;
    }
    .text {
      position: absolute; 
      top: 200px; 
      left: 0; 
      width: 100%; 
    }

    .imageContainer {
      width: 100%; 
      height: 100%; 
      left: 0px; 
      top: 0px; 
      margin-top: 0px;
      z-index: -1;
    }

    .imagePlane {
      width: 100%;
      height: 100%;
      margin-top: 0px;
      position: relative;
      
    }

   /* #btnFlight {
       position:absolute;
       bottom:250px;
       right:550px;
       width:200px;
       height:50px;
       margin-left:auto;
       margin-right:auto;
       margin-top:0%;
       background-color: #C71585;
       color: white;
    }*/
     #btnFlight {
       position:absolute;
       top:325px;
       left: 42%;
       width:200px;
       height:50px;
       margin-top:0%;
       background-color: #C71585;
       color: white;
    }
    
   .welcomeText {
      position:absolute;
      top: 250px; 
      text-align: center;
      /*left:400px;*/
      width: 100%;
      color: white;
      font-family: 'Lobster', cursive;
    }

    .Container {
      position: absolute; 
      top: 180px; 
      left: 80px; 
      width: 40%;
      background-color : transparent;
      margin-top: -5%;
    }

    .tabbed > input{
       display : none;
     }

    .tabbed > input:not(:checked) + section > div{
       display : none;
    }

    .tabbed > section > h1{
       float : left;
     }

     .tabbed > section > div{
       float  : right;
       width  : 100%;
       margin : 2.5em 0 0 -100%;
     }

     .tabbed{
       float : left;
       width : 100%;
     } 

     .tabbed > section > h1 > label{
       cursor: pointer;
       -moz-user-select : none;
       -ms-user-select : none;
       -webkit-user-select : none;
     }

     .tabbed > section > div{
       box-sizing    : border-box;
       padding       : 0.5em 0.75em;
       border        : 1px solid #ddd;
       border-radius : 4px;
       box-shadow    : 0 0 0.5em rgba(0,0,0,0.0625);
       background    : #fff;
    }
    .tabbed > section > h1{
       box-sizing  : border-box;
       margin      : 0;
       padding     : 0.5em 0.5em 0;
       overflow    : hidden;
       font-size   : 1em;
       font-weight : normal;
       color       : white;
    }

   .tabbed > section > h1 > label{
      display                 : block;
      padding                 : 0.25em 0.75em;
      border                  : 1px solid #ddd;
      border-bottom           : none;
      border-top-left-radius  : 4px;
      border-top-right-radius : 4px;
      box-shadow              : 0 0 0.5em rgba(0,0,0,0.0625);
      background              : #C71585;
   }

   .tabbed > input:first-child + section > h1{
       padding-left : 1em;
   }

   .tabbed > section > div{
      position : relative;
      z-index  : 1;
    }

   .tabbed > input:checked + section > h1{
      position : relative;
      z-index  : 2;
    }

    .tripLabel {
      font-size: 23px;
      color: #C71585;
      font-family: 'Lobster', cursive;
    }

    .inputLabel {
      margin-bottom: 10px;
    }

    .input-group {
      margin-bottom: 20px;
    }

    .dropdown {
      position: relative;
    }

  #btn {
      background-color: #C71585;
      color: white;
      margin-bottom: 20px;
      margin-right: 50px;
    }

    .item {
      margin-top: 0;
    }

    .titles {
      font-size: 20px;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: black;
      padding: 25px;
    }
    
  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin:0 auto;
      min-height:100px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }

.flight {
  font-family: Bangers;
  font-size: 24px;
}
.repeated-item.ng-enter, .repeated-item.ng-move {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity:0;
}

/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
  opacity:1;
}

/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .repeated-item class
*/
.repeated-item.ng-leave {
  -webkit-animation:0.5s my_animation;
  -moz-animation:0.5s my_animation;
  -o-animation:0.5s my_animation;
  animation:0.5s my_animation;
}

@keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

/*
  Unfortunately each browser vendor requires
  its own definition of keyframe animation code...
*/
@-webkit-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-moz-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-o-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}