<div style="margin-bottom: 5.4%">
<br>
<h1 class="text-center" style="font: bold; font-size: 40px; ">Your Booking Details</h1>
<br>

<div class="row row-colored">
<div class="col-sm-2"></div>
<label class="text-center" style="font:bold; font-size: 25px;">First Name  {{todo}} </label>
</div>

<div class="row">
<div class="col-sm-2"></div>
<label class="text-center" style="font:bold; font-size: 25px;">Last Name  {{todo}} </label>
</div>

<div class="row row-colored">
<div class="col-sm-2"></div>
<label class="text-center" style="font:bold; font-size: 25px;">Passport Number  {{todo}} </label>
</div>

<div class="row">
<div class="col-sm-2"></div>
<label class="text-center" style="font:bold; font-size: 25px;">Seat Number  {{todo}} </label>
</div>

<div class="row row-colored">
<div class="col-sm-2"></div>
<label class="text-center" style="font:bold; font-size: 25px;">Issue Date  {{todo}} </label>
</div>

<div class="row">
<div class="col-sm-2"></div>
<label class="text-center" style="font:bold; font-size: 25px;">Expiry Date  {{todo}} </label>
</div>

<div class="row row-colored">
<div class="col-sm-2"></div>
<label class="text-center" style="font:bold; font-size: 25px;">Booking Reference Number  {{todo}} </label>
</div>

<div class="row">
<div class="col-sm-2"></div>
<label class="text-center" style="font:bold; font-size: 25px;">Port Number  {{todo}} </label>
</div>

<div class="row row-colored">
<div class="col-sm-2"></div>
<label class="text-center" style="font:bold; font-size: 25px;">Travel Date  {{todo}} </label>
</div>
</div>

