<div>
  <div>
    <h1 class="text-center">Your trip to Destination</h1>  
  </div>
  <div>
    <h2>Departure flight</h3>
    <ul class="list-inline">
      <li><strong>From:</strong> origin city</li>
      <li><strong>To:</strong> destination city</li>
      <li><strong>Date:</strong> date</li>
      <li><strong>Price:</strong>  price tag</li>
    </ul>
  </div>
  <div>
    <h3><strong>Flight Details:</strong></h4>
    <!-- <ul class="list-unstyled">
      <li>Flight no.: no.</li>
      <li>Origin Airpot: origin airpot</li>
      <li>Destination Airport: dest. airport</li>
      <li>Date: date</li>
      <li>Time: time of departure</li>
      <li>Duration: duration</li>
      <li>Class: flight class</li>
      <li>Seat no.: seat</li>
    </ul> -->
    <div>
      <h5><strong>Flight no.:</strong> no.</h5>
    </div>
    <div>
      <h5><strong>Origin Airpot:</strong> origin airpot</h5>
    </div>
    <div>
      <h5><strong>Destination Airpot:</strong> dest. airpot</h5>
    </div>
    <div>
      <h5><strong>Date:</strong> date</h5>
    </div>
    <div>
      <h5><strong>Departure time:</strong> time</h5>
    </div>
    <div>
      <h5><strong>Duration:</strong> duration</h5>
    </div>
    <div>
      <h5><strong>Class:</strong> flight class</h5>
    </div>
    <div>
      <h5><strong>Seat No.:</strong> no.</h5>
    </div>
  </div>
    <div>
      <div>
        <h2>Arrival flight</h2>
        <ul class="list-inline">
          <li><strong>From:</strong> origin city</li>
          <li><strong>To:</strong> destination city</li>
          <li><strong>Date:</strong> date</li>
          <li><strong>Price:</strong>  price tag</li>
        </ul>
     </div>
     <div>
       <h3><strong>Flight Details:</strong></h4>
      <!-- <ul class="list-unstyled">
        <li>Flight no.: no.</li>
        <li>Origin Airpot: origin airpot</li>
        <li>Destination Airport: dest. airport</li>
        <li>Date: date</li>
        <li>Time: time of departure</li>
        <li>Duration: duration</li>
        <li>Class: flight class</li>
        <li>Seat no.: seat</li>
      </ul> -->
      <div>
        <h5><strong>Flight no.:</strong> no.</h5>
      </div>
      <div>
        <h5><strong>Origin Airpot:</strong> origin airpot</h5>
      </div>
      <div>
        <h5><strong>Destination Airpot:</strong> dest. airpot</h5>
      </div>
      <div>
        <h5><strong>Date:</strong> date</h5>
      </div>
      <div>
        <h5><strong>Departure time:</strong> time</h5>
      </div>
      <div>
        <h5><strong>Duration:</strong> duration</h5>
      </div>
      <div>
        <h5><strong>Class:</strong> flight class</h5>
      </div>
      <div>
        <h5><strong>Seat No.:</strong> no.</h5>
      </div>
     </div>
    </div>
</div>

