<form class="form-horizontal" role="form" style="margin-right: 70px; margin-left: 70px; margin-bottom: 11%; ">
<div>
<div class="col-sm-2"></div>
<div class="col-sm-7" style="margin-bottom: 2%">
<h1 class="text-center" style="font: bold; color: #C71585; font-size: 40px; font-family:Lobster">Contact Us</h1>
</div>
<div class="col-sm-10"></div>
<br></br>
<div class="col-sm-2"></div>
<div class="repeat">
<div class="row">
<div class="col-sm-2"></div>
<div class="col-sm-3"><label style="font-size: 25px">First Name </label></div><div class="col-sm-4"><input ng-model="fn" id="fname"size="40" class="form-control"> </input></div>
</div>
<div ng-show="fnAlert" class="alert alert-danger" role="alert" 
style="width:31%;
       margin-left:43%;">
  <strong>Please enter a valid name!</strong>
</div>
<p></p>
<div class="row">
<div class="col-sm-2"></div>
<div class="col-sm-3"><label style="font-size: 25px">Last Name </label></div><div class="col-sm-4"><input ng-model="ln" id="lname"size="40" class="form-control"> </input> </h3></div>
</div>
<div ng-show="lnAlert" ng-hide="!lnAlert"class="alert alert-danger" role="alert" 
style="width:31%;
       margin-left:43%;">
  <strong>Please enter a valid name!</strong>
</div>
<p></p>
<div class="row">
<div class="col-sm-2"></div>
<div class="col-sm-3"><label style="font-size: 25px">Email </label></div><div class="col-sm-4"><input ng-model="email" type="email" id="mail" size="40" class="form-control" placeholder="example@yahoo.com"> </input> </div>
</div>
<div ng-show="emailAlert" class="alert alert-danger" role="alert" 
style="width:31%;
       margin-left:43%;">
  <strong>Please enter a email!</strong>
</div>
<p></p>
<div class="row">
<div class="col-sm-2"></div>
<div class="col-sm-3"><label style="font-size: 25px">Your Comment </label></div><div class="col-sm-4"><textarea ng-model="comment" class="form-control" rows="4"> </textarea> </h3></div></div><br>
<div ng-show="commentAlert" class="alert alert-danger" role="alert" 
style="width:31%;
       margin-left:43%;">
  <strong>Oops!Looks like you didn't leave a comment</strong>
</div>

<div><button ng-click="contactSubmit();" type="button" class="btn btn-success btn-lg" 
style="margin-left: 42%;
       margin-top: 2%;
       background-color: #C71585;
       color: white;"> Submit</button>
</div>

</form>