<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat
">
<link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>

<div>
<div style="background-image:url('./Images/giphy.gif'); background-size: cover; vertical-align: middle; text-align: center;">
    <!--<img src="./Images/giphy.gif" class="stretch" style="margin-bottom: 30%"/>-->
	<br></br>
	<br></br>
	<br></br>
	<br></br>
	<br></br>
	<label style="font-family: Montserrat; font: ; font-size: 40px">Thank you! Your reservation is complete.</label>
	<p></p>
	<label style="font-family: Lobster; color: #C71585; font-size: 40px">Have a nice trip!</label>
	<p></p>
	<button class="btn btn-success"  style="background-color: #330025; color: white" ng-click = "homePage()">Return to Home Page</button>
	<br></br>
	<br></br>
	<br></br>
	<br></br>
	<br></br>
</div>
</div>