<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lobster">
<link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>

<div id="background" align="center" style="margin-bottom: 30%">
    <img src="./Images/giphy.gif" class="stretch" style="margin-bottom: 30%"/>
	<label style="font-family: Bangers; font: ; font-size: 30px">Thank you! Your reservation is complete.</label>
	<p></p>
	<label style="font-family: Lobster; color: #C71585; font-size: 30px">Have a nice trip!</label>
	<p></p>
	<button class="btn btn-success"  style="background-color: #330025; color: white">Return to Home Page</button>
	<p></p>
</div>