<div >
<link href="https://a1.muscache.com/airbnb/static/packages/common_o2.1-pretzel-63569659624b0120e962749578cae707.css" media="all" rel="stylesheet" type="text/css">
<div class="imageContainer">
    <div id="Carousel2" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
   <ol class="carousel-indicators">
      <li data-target="#Carousel2" data-slide-to="0" class="active"></li>
      <li data-target="#Carousel2" data-slide-to="1"></li>
      <li data-target="#Carousel2" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
   <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/Images/home.jpg" alt="Image">
        <div class="carousel-caption"></div>      
      </div>

      <div class="item">
        <img src="/Images/hawainight.jpg" alt="Image">
        <div class="carousel-caption"></div>      
      </div>
       <div class="item">
        <img src="/Images/hawai1.jpg" alt="Image">
        <div class="carousel-caption"></div>      
      </div>
    </div>
</div>  


<div class="Container">
    <div class="tabbed">
    
  <!-- first panel -->
  <input name="tabbed" id="tabbed1" type="radio" checked>
  <section>
    <h1>
      <label for="tabbed1">One Way</label>
    </h1>
    <div>
      <label class="tripLabel">One Way</label>
      <label class="inputLabel">Departing From</label>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Where are you flying from?"
        aria-describedby="basic-addon1" 
        ng-model="selectedOriginOneway"
        uib-typeahead="airport.name for airport in Airports | filter:$viewValue | limitTo:10"
        class="form-control"
        typeahead-on-select="setOrigin($item.iata)">
        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-map-marker"></i></span>
      </div>
      <div ng-show="originAlert" class="alert alert-danger" role="alert"
           style="width:100%;
                  height:5px;
                  margin-top:-3%">
       <label style="margin-top:-4%;"><strong>Origin must be filled out!</strong></label></div>

      <label class="inputLabel">Leaving To</label>
      <div class="input-group">
         <input type="text" class="form-control" placeholder="Where are you flying to?" 
         aria-describedby="basic-addon1"
         ng-model="selectedDestinationOneway"
         uib-typeahead="airport.name for airport in Airports | filter:$viewValue | limitTo:10"
         class="form-control"
         typeahead-on-select="setDestination($item.iata)">
         <span class="input-group-addon" id="basic-addon1"><i class="fa fa-map-marker"></i></span>
      </div>
       <div ng-show="destAlert" class="alert alert-danger" role="alert"
           style="width:100%;
                  height:5px;
                  margin-top:-3%">
       <label style="margin-top:-4%;"><strong>Destination must be filled out!</strong></label></div>
     <!--  <span ng-show="destAlert"><label>Destination must be filled out!</label></span> -->

      <label class="inputLabel">Departue Date</label>
      <div class='input-group date' id='datetimepicker1'>
         <input type='text' class="form-control" placeholder="DD/MM/YYYY" aria-describedby="basic-addon2"
         uib-datepicker-popup="{{format}}"
         ng-model="dtOneway"
         is-open="popup1.opened"
         close-text="Close"
         alt-input-formats="altInputFormats"
         ng-click="open1()">
         <span class="input-group-addon" id="basic-addon2"><i class="fa fa-calendar"></i></span>
      </div>
      <div ng-show="departureAlert" class="alert alert-danger" role="alert"
           style="width:100%;
                  height:5px;
                  margin-top:-3%">
       <label style="margin-top:-4%;"><strong>Departure date must be filled out!</strong></label></div>
      <!-- <span ng-show="departureAlert"><label>Departure date must be filled out!</label></span> -->

      <div class="flightClass" style="margin-bottom:20px;">
         <label class="inputLabel">Class</label>
         <label class="radio-inline" style="margin-right:30%;"><input type="radio" name="optradio" ng-model="selectedClass" value="business">Business</label>
         <label class="radio-inline"><input type="radio" name="optradio" ng-model="selectedClass" value="economy">Economy</label>
      </div>
       <div ng-show="classAlert" class="alert alert-danger" role="alert"
           style="width:100%;
                  height:5px;
                  margin-top:-3%">
       <label style="margin-top:-4%;"><strong>Class must be selected!</strong></label></div>
      <!-- <span ng-show="classAlert"><label>Class must be selected!</label></span> -->

      <div class="checkbox">
        <label><input type="checkbox" ng-model="checkboxModel">Search Other Airlines</label>
     </div>
     <button type="button" class="btn btn-default" style="background-color:#C71585; color:white;" ng-click="searchOneWay()"><i class="fa fa-search" ></i>   Search Flights</button>
   </div>
  </section>

  <!-- second panel -->
  <input name="tabbed" id="tabbed2" type="radio">
  <section>
    <h1>
      <label for="tabbed2">Round Trip</label>
    </h1>
    <div>
     
     <label class="tripLabel">Round Trip </label>
     <label class="inputLabel">Departing From</label>
     <div class="input-group">
       <input type="text" class="form-control" placeholder="Where are you flying from?" 
       aria-describedby="basic-addon1"
       ng-model="selectedOriginRound"
       uib-typeahead="airport.name for airport in Airports | filter:$viewValue | limitTo:10"
       class="form-control"
       typeahead-on-select="setOrigin($item.iata)">
       <span class="input-group-addon" id="basic-addon1"><i class="fa fa-map-marker"></i></span>
     </div>
     <div ng-show="originAlert" class="alert alert-danger" role="alert"
           style="width:100%;
                  height:5px;
                  margin-top:-3%">
       <label style="margin-top:-4%;"><strong>Origin must be filled out!</strong></label></div>
     <!-- <span ng-show="originAlert"><label>Origin must be filled out!</label></span> -->

     <label class="inputLabel">Leaving To</label>
     <div class="input-group">
       <input type="text" class="form-control" placeholder="Where are you flying to?" 
       aria-describedby="basic-addon1"
       ng-model="selectedDestinationRound"
       uib-typeahead="airport.name for airport in Airports | filter:$viewValue | limitTo:10"
       class="form-control"
       typeahead-on-select="setDestination($item.iata)">
       <span class="input-group-addon" id="basic-addon1"><i class="fa fa-map-marker"></i></span>
     </div>
      <div ng-show="destAlert" class="alert alert-danger" role="alert"
           style="width:100%;
                  height:5px;
                  margin-top:-3%">
       <label style="margin-top:-4%;"><strong>Destination must be filled out!</strong></label></div>
     <!-- <span ng-show="destAlert"><label>Destination must be filled out!</label></span> -->

     <div class="row">
       <div class="col-lg-6">
         <label class="inputLabel">Departue Date</label>
         <div class='input-group date' id='datetimepicker1'>
           <input type='text' class="form-control" placeholder="DD/MM/YYYY" aria-describedby="basic-addon2"
           uib-datepicker-popup="{{format}}"
           ng-model="dtRound"
           is-open="popup1.opened"
           close-text="Close"
           alt-input-formats="altInputFormats"
           ng-click="open1()">
           <span class="input-group-addon" id="basic-addon2"><i class="fa fa-calendar"></i></span>
         </div>
       </div>

       <div class="col-lg-6">
         <label class="inputLabel">Arrival Date</label>
         <div class='input-group date' id='datetimepicker1'>
            <input type='text' class="form-control" placeholder="DD/MM/YYYY" aria-describedby="basic-addon2"
            uib-datepicker-popup="{{format}}"
            ng-model="atRound"
            is-open="popup2.opened"
            close-text="Close"
            alt-input-formats="altInputFormats"
            ng-click="open2()">
            <span class="input-group-addon" id="basic-addon2"><i class="fa fa-calendar"></i></span>
         </div>
       </div>
     </div>
     <div ng-show="departureAlert" class="alert alert-danger" role="alert"
           style="width:100%;
                  height:5px;
                  margin-top:-3%">
       <label style="margin-top:-4%;"><strong>Departure date must be filled out!</strong></label></div>
       <div ng-show="arrivalAlert" class="alert alert-danger" role="alert"
           style="width:100%;
                  height:5px;
                  margin-top:-3%">
       <label style="margin-top:-4%;"><strong>Arrival date must be filled out!</strong></label></div>
     <!-- <span ng-show="departureAlert"><label>Departure date must be filled out!</label></span>
     <span ng-show="arrivalAlert"><label>Arrival date must be filled out!</label></span> -->

     <div class="flightClass" style="margin-bottom:20px;">
         <label class="inputLabel">Class</label>
         <label class="radio-inline" style="margin-right:30%;"><input type="radio" name="optradio" ng-model="selectedClass" value="business">Business</label>
         <label class="radio-inline"><input type="radio" name="optradio" ng-model="selectedClass" value="economy">Economy</label>
      </div>
      <div ng-show="classAlert" class="alert alert-danger" role="alert"
           style="width:100%;
                  height:5px;
                  margin-top:-3%">
    <label style="margin-top:-4%;"><strong>Class must be selected!</strong></label></div>
     <!--<span ng-show="classAlert"><label>Class must be selected!</label></span>-->

     <div class="checkbox">
        <label><input type="checkbox" value="">Search Other Airlines</label>
     </div>

     <button type="button" class="btn btn-default" style="background-color:#C71585; color:white;" ng-click="searchRoundTrip()"><i class="fa fa-search"></i>   Search Flights</button>
    </div>
  </section>
  </div>
  </div>
  </div>
</div>

<br> 
<div class="main">
<div class="container text-center">    
  <!--<h3> <button id="btn" type="button" class="btn btn-default btn-lg"><i class="fa fa-money"></i>  Special Offers</button></h3><br>-->
  <h3 style="font-weight: bold;">Special Offers</h3>
  <div class="row">
    <div class="col-sm-4">
      <img src="/Images/Mount-Fuji.jpg" class="img-responsive" style="width:100%" alt="Image">
      <p class="titles">Nonstop service between Narita and Honolulu</p>
    </div>
    <div class="col-sm-4"> 
      <img src="/Images/fav.gif" class="img-responsive" style="width:100%" alt="Image">  
    </div>
    <div class="col-sm-4"> 
      <img src="/Images/offer2.jpg" class="img-responsive" class="animated bounce" style="width:100%" alt="Image">
      <p class="titles">Deals from the Bay to Hawaii</p>    
    </div>
  </div>
</div><br>

<div class="container text-center">    
  <!--<h3><button id="btn" type="button" class="btn btn-default btn-lg"><i class="fa fa-plane"></i>  New Destinations</button></h3><br>-->
  <h3 style="font-weight: bold;">New Destinations</h3>
  <div class="row">
    <div class="col-sm-4">
      <img src="/Images/galaxy.jpg" class="img-responsive" style="width:100%" alt="Image">
      <p class="titles">A Galaxy Far Away</p>
    </div>
    <div class="col-sm-4"> 
      <img src="/Images/narnia.jpg" class="img-responsive" style="width:100%" alt="Image">
      <p class="titles">Narnia</p>    
    </div>
    <div class="col-sm-4"> 
      <img src="/Images/dev.jpg" class="img-responsive" style="width:100%" alt="Image">
        <p class="titles">The Developer's Mind</p>    
    </div>
  </div>
</div><br>


<!-- <div class="container text-center">    
  <h3><button id="btn" type="button" class="btn btn-default btn-lg"><i class="fa fa-newspaper-o"></i>  News</button></h3><br>
  <div class="row">
    <div class="col-sm-4">
      <img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p class="titles"></p>
    </div>
    <div class="col-sm-4"> 
      <img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p class="titles"></p>    
    </div>
    <div class="col-sm-4"> 
      <img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p class="titles"></p>    
    </div>
  </div>
</div><br> -->
