<div >

<div class="imageContainer">
  <img src="/Images/plane.jpg" class="imagePlane"> 
 <!--  <h2 class="bate5">bate5</h2> -->
  <h3><button id="btnFlight" type="button" class="btn btn-default btn-lg" ng-click="BookAFlight()"><i class="fa fa-plane"></i> Book a Flight</button></h3>
  
</div>

  <!-- <ul class="nav nav-pills nav-justified">

    <li role="presentation" class="active"> <a href="#one-way">ONE-WAY</a> </li>
    <li role="presentation" class="active"> <a href="#">ROUND-TRIP</a>     </li>
    
  </ul> -->

</div>

  
<div class="main">
<div class="container text-center">    
  <h3> <button id="btn" type="button" class="btn btn-default btn-lg"><i class="fa fa-plane"></i>  Special Offers</button></h3><br>
  <div class="row">
    <div class="col-sm-4">
      <img src="/Images/Mount-Fuji.jpg" class="img-responsive" style="width:100%" alt="Image">
      <p class="titles">Nonstop service between Narita and Honolulu</p>
    </div>
    <div class="col-sm-4"> 
      <img src="/Images/fav.gif" class="img-responsive" style="width:100%" alt="Image">  
    </div>
    <div class="col-sm-4"> 
      <img src="/Images/offer2.jpg" class="img-responsive" style="width:100%" alt="Image">
      <p class="titles">Deals from the Bay to Hawaii</p>    
    </div>
  </div>
</div><br>

<div class="container text-center">    
  <h3><button id="btn" type="button" class="btn btn-default btn-lg"><i class="fa fa-plane"></i>  New Destinations</button></h3><br>
  <div class="row">
    <div class="col-sm-4">
      <img src="/Images/galaxy.jpg" class="img-responsive" style="width:100%" alt="Image">
      <p class="titles">A Galaxy Far Away</p>
    </div>
    <div class="col-sm-4"> 
      <img src="/Images/narnia.jpg" class="img-responsive" style="width:100%" alt="Image">
      <p class="titles">Narnia</p>    
    </div>
    <div class="col-sm-4"> 
      <img src="/Images/dev.jpg" class="img-responsive" style="width:100%" alt="Image">
   a`1   <p class="titles">The Developer's Mind</p>    
    </div>
  </div>
</div><br>

<div class="container text-center">    
  <h3><button id="btn" type="button" class="btn btn-default btn-lg"><i class="fa fa-plane"></i>  News</button></h3><br>
  <div class="row">
    <div class="col-sm-4">
      <img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p class="titles"></p>
    </div>
    <div class="col-sm-4"> 
      <img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p class="titles"></p>    
    </div>
    <div class="col-sm-4"> 
      <img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p class="titles"></p>    
    </div>
  </div>
</div><br>
</div>