<div >

<div class="imageContainer">
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
    <!-- Indicators -->
   <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
   <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/Images/home.jpg" alt="Image">
        <div class="carousel-caption"></div>      
      </div>

      <div class="item">
        <img src="/Images/hawainight.jpg" alt="Image">
        <div class="carousel-caption"></div>      
      </div>

       <div class="item">
        <img src="/Images/hawai1.jpg" alt="Image">
        <div class="carousel-caption"></div>      
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
  <h2 class="welcomeText">Experience Authentic Hawaiian Hospitality</h2>
  <h3><button id="btnFlight" type="button" class="btn btn-default btn-lg" ng-click="BookAFlight()"><i class="fa fa-plane"></i>   Book a Flight</button></h3>
  
</div>
</div>

  
<div class="main">
<div class="container text-center">    
  <h3> <button id="btn" type="button" class="btn btn-default btn-lg"><i class="fa fa-money"></i>  Special Offers</button></h3><br>
  <!--<h3 style="font: bold; color: #C71585;">Special Offers</h3><br>-->
  <div class="row">
    <div class="col-sm-4">
      <img src="/Images/Mount-Fuji.jpg" class="img-responsive" style="width:100%" alt="Image">
      <p class="titles">Nonstop service between Narita and Honolulu</p>
    </div>
    <div class="col-sm-4"> 
      <img src="/Images/fav.gif" class="img-responsive" style="width:100%" alt="Image">  
    </div>
    <div class="col-sm-4"> 
      <img src="/Images/offer2.jpg" class="img-responsive" class="animated bounce" style="width:100%" alt="Image">
      <p class="titles">Deals from the Bay to Hawaii</p>    
    </div>
  </div>
</div><br>

<div class="container text-center">    
  <h3><button id="btn" type="button" class="btn btn-default btn-lg"><i class="fa fa-plane"></i>  New Destinations</button></h3><br>
  <!--<h3 style="font: bold; color: #C71585;">New Destinations</h3><br>-->
  <div class="row">
    <div class="col-sm-4">
      <img src="/Images/galaxy.jpg" class="img-responsive" style="width:100%" alt="Image">
      <p class="titles">A Galaxy Far Away</p>
    </div>
    <div class="col-sm-4"> 
      <img src="/Images/narnia.jpg" class="img-responsive" style="width:100%" alt="Image">
      <p class="titles">Narnia</p>    
    </div>
    <div class="col-sm-4"> 
      <img src="/Images/dev.jpg" class="img-responsive" style="width:100%" alt="Image">
        <p class="titles">The Developer's Mind</p>    
    </div>
  </div>
</div><br>


<div id="aboutUsDiv">
<div><h3 style="text-align: center;">Scrum Master</h3></div>
<div class="container text-center">    
  <div class="row">
    <div class="col-sm-4">
      <img src="/Images/mariam.jpeg" class="img-circle" style="width:70%" alt="Image">
      <p class="titles">Mariam Mazen</p>
    </div>
    <div class="col-sm-4"> 
      
      <img src="/Images/esso.jpg" class="img-circle" style="width:70%" alt="Image"> 
      <p class="titles">Esraa Salah</p>
      
    </div>
    <div class="col-sm-4"> 
      <img src="/Images/rania6.jpg" class="img-circle"  style="width:70% " alt="Image">
      <p class="titles">Rania Wael</p>    
    </div>
    </div><br>

    <div class="row">
    <div class="col-sm-4">
      <img src="/Images/ranaFinal.jpg" class="img-circle" style="width:70%" alt="Image">
      <p class="titles">Rana Saeed</p>
    </div>
    <div class="col-sm-4"> 
      <img src="/Images/loay.jpg" class="img-circle" style="width:70%" alt="Image"> 
      <p class="titles">Loay ElZobeidy</p>
      
    </div>
    <div class="col-sm-4"> 
      <img src="/Images/nourhan.jpg" class="img-circle"  style="width:70%" alt="Image">
      <p class="titles">Nourhan Ramadan</p>    
    </div>

  </div>
</div><br>

<!-- <div class="container text-center">    
  <h3><button id="btn" type="button" class="btn btn-default btn-lg"><i class="fa fa-newspaper-o"></i>  News</button></h3><br>
  <div class="row">
    <div class="col-sm-4">
      <img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p class="titles"></p>
    </div>
    <div class="col-sm-4"> 
      <img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p class="titles"></p>    
    </div>
    <div class="col-sm-4"> 
      <img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p class="titles"></p>    
    </div>
  </div>
</div><br> -->
</div>