

<span class="pink_heading"><h3 > Where do you wish to fly to ? </h3></span>

<div>
<table class="center">
<tr class="table-info">

<td class="table-info" class="col-sm-8">

    <label style="font-size: 20px">From : </label> <input  placeholder="Origin" size="25"> </input> <span class="glyphicon glyphicon-plane"></span>

</td>

<td class="table-info" class="col-sm-8" >

</td>

<td class="table-info" class="col-sm-8" >

   
       <label style="font-size: 20px">To  :</label> <input  placeholder="Destination" size="25"> </input> <span class="glyphicon glyphicon-plane"></span>
    

</td>
	
</tr>

</table>
</div>