<!-- <div class="col-sm-3"><label style="font-size: 20px">{{f}}</h3></label></div> -->
<link href="https://a1.muscache.com/airbnb/static/packages/common_o2.1-pretzel-63569659624b0120e962749578cae707.css" media="all" rel="stylesheet" type="text/css">


 <h1 class="text-center" style="font: bold; color: #C71585; font-size: 30px; font-family:Lobster">Outgoing Flights</h1>
 
  

<div style=" margin-bottom: 22%;">
  <table class="table table-inverse" id="myTable" ;style ="width :100%;">
  <tr class="clickable-row">
    <td style="font: bold; color: #C71585; font-size: 25px; font-family:Lobster">Flight</td>

      <td><span style="font: bold; color: #C71585; font-size: 25px; font-family:Lobster">{{ selectedClass }}</span></td>
  </tr>
  
  <tr class="clickable-row" ng-repeat = "flight in outflights">
    <td><form style="font-size: 17px">
    Flight Number : {{ flight.flightNumber }}<br>
    Destination :   {{ flight.destination }}<br>
    Origin :   {{ flight.origin }}<br>
    Departure Date :   {{ flight.departureDateTime | date:'yyyy-MM-dd hh:mm'}}<br>
    Arrival Date :   {{ flight.arrivalDateTime | date:'yyyy-MM-dd hh:mm'}}<br>
    </form></td>
    <td><button ng-click = "bookOutgoing(flight,flight.cost,'Business')" type="button" class="btn btn-success">{{flight.cost}}$</button></td>

 </tr>
       <!-- <td><button ng-click = "bookOutgoing(flight,flight.price2,'Economy A')" type="button" class="btn btn-success">{{flight.price2}}$</button></td> -->
       <!-- <td><button ng-click = "bookOutgoing(flight,flight.price3,'Economy B')" type="button" class="btn btn-success">{{flight.price3}}$</button></td> -->
  
</table>
</div>