<!-- <div class="col-sm-3"><label style="font-size: 20px">{{f}}</h3></label></div> -->
<div>
<div id = "header" >
</div>
<div id="wrapper" style="display: inline-block;">
    <div id="inner_left"><!-- <p1>Class</p1> -->
   <button type="button" class="btn btn-warning" >Filter Cost</button>
   
   <form id  = "cost" ><br>
  From: <input type="number" name="from" filter ="number" id = "from"><label class = "dollar">$</label>
  To: <input type="number" name="to" fliter = "number" id = "to"><label class = "dollar">$</label><br>
  </form>
     <!--cost -->
   <form id = "OrderBy">
   <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Default
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
  <li>Arrival time</li>
  <li>No of stops</li>
 <li> total duration</li>
  <li>Origin</li>
   <li>Destination<li>
  </ul>
</div>
    </form>
    <!-- <button type="button" class="btn btn-warning">Sort By</button> -->
    </div>
    <div id="inner_right" style="display: inline-block; width:100%;">
         <input type="text" id = "mycalender"
                             class="form-control"
                             uib-datepicker-popup="{{format}}"
                             ng-model="dt"
                             is-open="popup1.opened"
                             ng-required="true"
                             close-text="Close"
                             alt-input-formats="altInputFormats" />
                      <span class="input-group-btn">
                        <button type="button"
                                class="btn btn-default"
                                ng-click="open1()">
   </div>
   <table class="table table-inverse" id="myTable" ;style ="width :100%;">
  <tr class="clickable-row">
    <td>Flight</td>
     <td>Business</td>
      <td>EconomyA</td>
       <td>EconomyB</td>
  </tr>
  
   		<tr class="clickable-row" ng-repeat = "flight in flights track by $index ">
    <td><form>
    flight number : {{flight.continent}}<br>
     type: {{flight.type}}<br>
    lat : {{flight.lat}}<br>
    size : {{flight.size}}<br>
    </form></td>
       <td><button ng-click = "reservebusiness(flight)" type="button" class="btn btn-success">{{flight.price1}}$</button></td>
       <td><button ng-click = "reserveeconomyA(flight)" type="button" class="btn btn-success">{{flight.price2}}$</button></td>
       <td><button ng-click = "reserveeconomyB(flight)" type="button" class="btn btn-success">{{flight.price3}}$</button></td>
  </tr>

</table>
</div>
</div>