<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lobster">

<div style="margin-bottom: 70px">
<!-- <table>
<tr>
<td> -->
<form class="form-horizontal" role="form" style="margin-right: 70px; margin-left: 70px">
<div>
<div class="col-sm-2"></div>
<div class="col-sm-7">
<h1 class="text-center" style="font: bold; color: #C71585; font-size: 30px; font-family:Lobster">Payment</h1>
</div>
<div class="col-sm-10"></div>
<p></p>
<div class="col-sm-2"></div>
<div class="repeat">
<div class="row">
<div class="col-sm-2"></div>
<div class="col-sm-3"><label style="font-size: 20px">First Name </label></div><div class="col-sm-4"><input id="fname"size="40" class="form-control"> </input></div>
</div>
<p></p>
<div class="row">
<div class="col-sm-2"></div>
<div class="col-sm-3"><label style="font-size: 20px">Last Name </label></div><div class="col-sm-4"><input id="lname"size="40" class="form-control"> </input> </h3></div>
</div>
<p></p>
<div class="row">
<div class="col-sm-2"></div>
<div class="col-sm-3"><label style="font-size: 20px">Gender </h3></label></div>
<div class="col-sm-4">
<div class="radio">
  <label style="font-size: 18px"><input type="radio" name="optradio">Male</label>
  <label style="font-size: 18px"><input type="radio" name="optradio">Female</label>
</div>
</div>
</div>
<p></p>
<div class="row">
<div class="col-sm-2"></div>
<div class="col-sm-3"><label style="font-size: 20px">Email </label></div><div class="col-sm-4"><input type="email" id="mail" size="40" class="form-control" placeholder="example@yahoo.com"> </input> </div>
</div>
<p></p>
<div class="row">
<div class="col-sm-2"></div>
<div class="col-sm-3"><label style="font-size: 20px">Mobile Number </label></div><div class="col-sm-4"><input id="mobile" size="40" class="form-control" placeholder="+ID XXXX-XXX-XXX"> </input> </div>
</div>
<p></p>
<div class="row">
<div class="col-sm-2"></div>
<div class="col-sm-3"><label style="font-size: 20px">Passport Number </label></div><div class="col-sm-4"><input id="passport" class="form-control"> </input> </div>
</div>
</div>
<p></p>
<div class="row">
<div class="col-sm-2"></div>
<div class="col-sm-3"><label style="font-size: 20px">Credit Card Number </label></div><div class="col-sm-4"><input id="creditCard" class="form-control" placeholder="XXXX-XXXX-XXXX-XXXX"> </input> </div>
</div>
<p></p>
<div class="row">
<div class="col-sm-2"></div>
<div class="col-sm-3"><label style="font-size: 20px">Password </label></div><div class="col-sm-4"><input type="password" id="password" class="form-control"> </input> </div>
</div>
<p></p>
<div class="col-sm-2"></div>
<div class="col-sm-7">
<button class="btn btn-block" style=" background-color: #C71585; color: white; font: bold; font-size: 20px">Pay</button>
</div>
<p></p>
</div>
</form>
<!-- </td>
<td>
	
</td>

</tr>
</table> -->
</div>