<form class="form-horizontal" role="form">
<div>

<h1 class="text-center" style="font: bold; color: #C71585; font-size: 30px">Payment</h1>
<div class="repeat">
<div class="row">
<div class="col-sm-4"><label style="font-size: 20px">First Name :</label></div><div class="col-sm-8"><input id="fname"size="40"> </input></div>
</div>
<div class="row">
<div class="col-sm-4"><label style="font-size: 20px">Last Name : </label></div><div class="col-sm-8"><input id="lname"size="40"> </input> </h3></div>
</div>
<div class="row">
<div class="col-sm-4"><label style="font-size: 20px">Gender : </h3></label></div>
<div class="col-sm-8">
<div class="radio">
  <label style="font-size: 18px"><input type="radio" name="optradio">Male</label>
  <label style="font-size: 18px"><input type="radio" name="optradio">Female</label>
</div>
</div>
</div>
<div class="row">
<div class="col-sm-4"><label style="font-size: 20px">Email : 	</label></div><div class="col-sm-8"><input type="email" id="mail" size="40"> </input> </div>
</div>
<div class="row">
<div class="col-sm-4"><label style="font-size: 20px">Mobile Number : </label></div><div class="col-sm-8"><input id="mobile" size="40"> </input> </div>
</div>
<div class="row">
<div class="col-sm-4"><label style="font-size: 20px">Passport Number : </label></div><div class="col-sm-8"><input id="passport" size="40"> </input> </div>
</div>
</div>
<div class="row">
<div class="col-sm-4"><label style="font-size: 20px">Credit Card Number : </label></div><div class="col-sm-8"><input id="creditCard" size="40"> </input> </div>
</div>
<div class="row">
<div class="col-sm-4"><label style="font-size: 20px">Password : </label></div><div class="col-sm-8"><input type="password" id="password" size="40"> </input> </div>
</div>

<button class="btn btn-block" ng-controller="pay as pay" style=" background-color: #C71585;
    color: white; font: bold; font-size: 20px">Pay</button>

</div>
</form>