<div style="margin-bottom:10%">
   <img src="/Images/favicon.png" style="display: block;margin-left: auto;margin-right: auto;margin-top:10%;margin-bottom:20px;"/>                         
   <p style="text-align: center;font-size:16px;font-family: 'Open Sans', sans-serif;text-transform: uppercase;font-weight: bold;">
   Please Enter your Booking Reference Number</p>

   
   <div><input ng-model="ref" style="width:32%;margin-left:auto; margin-right:auto;" class="form-control" ></input></div><br>
   <div ng-show="refAlert" class="alert alert-danger" role="alert"
           style="width:32%;
                  text-align: center;
                  margin-left:auto;
                  margin-right:auto;">
    <label><strong>Please enter a valid reference number!</strong></label></div>


   <div><button ng-click="bookingDetails();" type="button" class="btn btn-success btn-lg" style="margin-left: 46%;
          margin-top: 2%;
          background-color: #C71585;
          color: white;"> SEARCH</button>
   </div>           
   
</div>