<div style="margin-bottom:30%">
   <img src="/Images/favicon.png" style="display: block;
                                         margin-left: auto;
                                         margin-right: auto;
                                         margin-top:10%;
                                         margin-bottom:20px;"/>                         
   <p style="text-align: center;
              font-size:16px;
              font-family: 'Open Sans', sans-serif;
              text-transform: uppercase;
              font-weight: bold;">Thank you for contacting us</p>


   <div><button ng-click="homePage();" type="button" class="btn btn-success btn-lg" style="margin-left: 47%;
                                                                 margin-top: 2%;
                                                                 background-color: #C71585;
                                                                 color: white;"> Home</button>
   </div>           
   
</div>