#inputLabel {
	background-color: transparent;
	width: 100%;
	margin-bottom: 0%;
}

#inputButton {
	background-color: transparent;
	margin-left: 0%;
	margin-bottom: 0%;
}

#otherButton {
	margin-left: 5%;
}

#searchButton {
	width: 50%;
	margin-left: 25%;
    margin-top:5%;
}

#content {
	background-image: url("../img/background1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
