.hvr-sweep-to-left{
	margin-left: 0%;
	margin-top: 0%;
	width: 100%;
	display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-sweep-to-left:before {
	background-color: #539DC2;
	color: white;
}

.col {
	color: #696969;
	margin-left: -19%;
	margin-top: -12%;
}

